<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">

  <Identity
    Name="12041pepeizq.pepeizqsWidgetsforStreaming"
    Publisher="CN=E6A59F16-60E0-4B88-A8A1-993C16A63CD0"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>pepeizq&apos;s Widgets for Streaming</DisplayName>
    <PublisherDisplayName>pepeizq</PublisherDisplayName>
    <Logo>Images\Logos\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="pepeizq&apos;s Widgets for Streaming"
        Description="https://pepeizqapps.com/"
        BackgroundColor="#083116"
        Square150x150Logo="Images\Logos\Square150x150Logo.png"
        Square44x44Logo="Images\Logos\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Logos\Wide310x150Logo.png"  ShortName="Widgets for Streaming" Square71x71Logo="Images\Logos\SmallTile.png" Square310x310Logo="Images\Logos\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\Logos\SplashScreen.png"  BackgroundColor="#083116"/>
      </uap:VisualElements>

		<Extensions>
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="Widgets Media\Widgets Media.exe" Arguments="-RegisterProcessAsComServer" DisplayName="WidgetsStreaming">
						<com:Class Id="B346D60C-42FC-4D9F-AB57-DC263E64F244" DisplayName="WidgetsStreaming" />
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
			<uap3:Extension Category="windows.appExtension">
				<uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="pepeizq&apos;s Widgets for Streaming" Id="WidgetsMedia" PublicFolder="Public">
					<uap3:Properties>
						<WidgetProvider>
							<ProviderIcons>
								<Icon Path="Images\Logos\Square44x44Logo.scale-100.png" />
							</ProviderIcons>
							<Activation>
								<CreateInstance ClassId="B346D60C-42FC-4D9F-AB57-DC263E64F244" />
							</Activation>
							<Definitions>
								<Definition Id="Media"
									DisplayName="pepeizq&apos;s Widgets for Streaming"
									Description="Widgets Streaming Description">
									<Capabilities>
										<Capability>
											<Size Name="small" />
										</Capability>
										<Capability>
											<Size Name="medium" />
										</Capability>
										<Capability>
											<Size Name="large" />
										</Capability>
									</Capabilities>
									<ThemeResources>
										<Icons>
											<Icon Path="Images\Logos\Square44x44Logo.scale-100.png" />
										</Icons>
										<Screenshots>
											<Screenshot Path="ProviderAssets\Counting_Screenshot.png" DisplayAltText="For accessibility" />
										</Screenshots>
										<!-- DarkMode and LightMode are optional -->
										<DarkMode />
										<LightMode />
									</ThemeResources>
								</Definition>
							</Definitions>
						</WidgetProvider>
					</uap3:Properties>
				</uap3:AppExtension>
			</uap3:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
